.main {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url("../../assets/images/galaxy_nebula_space_stars_hd_space.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
